[user]
    name  = {{ protonPass (printf "pass://%s/%s/username" .proton_vault_id .proton_git_item_id) | trim }}
    email = {{ protonPass (printf "pass://%s/%s/email" .proton_vault_id .proton_git_item_id) | trim }}

[core]
    excludesfile = ~/.gitignore_global

[pull]
    rebase = true

[init]
    defaultBranch = master
